.cart {
  background: #000;
  display: none;
  padding: 32px;
  position: fixed;
  right: 0;
  top: 0;
  width: 200px;
  z-index: 14;
  overflow-y: auto;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.cart img {
  aspect-ratio: 16/9;
  width: 100%;
}

.cart ul {
  padding: 0;
  padding-top: 24px;
  list-style: none;
}

.cart li {
  border-bottom: 1px solid #444;
  padding-bottom: 8px;
  margin-top: 8px;
}

.cart li div {
  text-align: center;
  margin-bottom: 6px;
}

.cart footer {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.cart footer button {
  padding: 8px;
}

.cart-button {
  align-items: center;
  background: #09f;
  border-radius: 9999px;
  cursor: pointer;
  display: flex;
  height: 32px;
  justify-content: center;
  padding: 4px;
  position: fixed;
  right: 18px;
  top: 20px;
  transition: all .5s ease;
  width: 32px;
  z-index: 9999;
}

.cart-delete {
  width: 100%;
  padding-bottom: 44px;
}

.cart-button:hover {
  scale: 1.1;
}

.cart-button ~ input:checked ~ .cart {
  height: 100%;
  display: block;
  animation-name: translateIn;
}

.cart-button ~ input:not(:checked) ~ .cart {
  height: 100%;
  display: block;
  animation-name: translateOut;
}

@keyframes translateIn {
  from {
    transform: translateX(270px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes translateOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(270px);
  }
}
