.footer {
  width: 100%;
  height: 300px;
  background: rgba(0, 0, 0, .7);
  margin-top: 40px;
}

.footer .infoProject {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.infoProject span {
  color: #09f;
}

.socialMedias {
  display: flex;
  align-items: center;
  gap: 15px;
}

.socialMedias a svg {
  width: 30px;
  height: 30px;
}