.footer {
  width: 100%;
  height: 200px;
  background: rgba(0, 0, 0, .7);
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer .infoProject {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.infoProject h4,
.infoProject p {
  margin: 12px 0;
}

.infoProject span {
  color: #09f;
}

.socialMedias {
  display: flex;
  align-items: center;
  gap: 10px;
}

.socialMedias a svg {
  width: 30px;
  height: 30px;
}