.product-article {
  width: 100%;
  height: 1700px;
  margin-top: 100px;
  margin-right: 180px;
}

.cells {
  display: grid;
  grid-template-columns: repeat(2, 1fr) ;
  grid-template-rows: 1fr 90px 450px 450px;
  justify-items: center;
  align-items: center;
  margin-bottom: 20px;
  gap: 32px;
}

.product-title {
  grid-column: 2;
  grid-row: 1;
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-title-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.product-stock {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.product-stock span {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.product-stock span button {
  width: 30px;
  height: 30px;
  padding: 0;
}

.product-title h1 {
  margin-top: 0;
  margin-bottom: 18px;
}

.product-title h2 {
  width: 100%;
}

.product-brand {
  color:#09f;
  margin: 0;
}

.product-title span {
  color: #09f;
  font-size: 20px;
}

.product-title del {
  color: grey;
  font-size: 20px;
}

.product-article .image-container {
  grid-column: 1;
  grid-row: 1;
  width: 80%;
  height: 80%;
}

.image-container img {
  width: 100%;
  height: 100%;
}

.product-article .product-description {
  grid-column: span 2;
  grid-row: 2;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card-similars {
  grid-column: span 2;
  grid-row: 3;
  width: 100%;
  height: 100%;
  background-color: black;
  border-radius: 12px;
}
.card-recommendations {
  grid-column: span 2;
  grid-row: 4;
  width: 100%;
  height: 100%;
  background-color: black;
  border-radius: 10px;
}

.card-similars h2,
.card-recommendations h2 {
  width: 320px;
  margin-left: 24px;
  padding-bottom: 3px;
  border-bottom: 1px solid white;
}

.card-similars ul,
.card-recommendations ul {
  width: 100%;
  height: 70%;
  padding: 0 21px 0 21px;
  margin-top: 40px;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  gap: 32px;
}

.card-similars li,
.card-recommendations li {
  width: 20%;
  height: 100%;
  list-style: none;
  background-color: rgb(40, 40, 40);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.card-similars li div .product-link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
}
.card-recommendations li div .product-link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.card-similars img,
.card-recommendations img {
  width: 80%;
  object-fit: cover;
  aspect-ratio: 16/9;
  margin-bottom: 24px;
}

.card-similars li div span,
.card-recommendations li div span {
  color: #09f;
  font-size: 14px;
}

.card-similars li div del,
.card-recommendations li div del {
  color: grey;
  font-size: 14px;
}

.card-similars .products-details,
.card-recommendations .products-details {
  margin-bottom: 24px;
}

.card-similars li button,
.card-recommendations li button {
  position: relative;
  z-index: 11;
}