.search-section {
  width: 100%;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-header span {
  color: #646cff;
}

.search-results {
  list-style: none;
  margin: 0;
  padding: 0;
}

.search-results li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
  background-color: black;
  border-radius: 12px;
  padding: 24px;
  position: relative;
}

.results-head {
  display: flex;
  height: 50px;
  align-items: center;
  margin-bottom: 24px;
}

.results-head a {
  font-size: 40px;
  font-weight: bold;
  margin: 0;
  margin-right: 24px;
}

.results-head a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.results-head-price {
  display: flex;
  padding: 30px;
  align-items: center;
}

.results-head-price h2 {
  margin: 0;
  margin-right: 12px;
}

.results-head-price span {
  color: #09f;
  padding-top: 4px;
}

.results-head-price del {
  color: gray;
}